body{
background: white
}

.border-b{
display: inline-block;
    background-color: transparent;
    border: 1px solid #41464b;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
}
 .word-br{
 word-wrap:
  break-word;
  }

.box {
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(400%);
  transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}

.box h2 {
  font-size: 45px;
}