{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}


{% block body %}

<!--<div class="text-center" data-new-gr-c-s-check-loaded="14.1028.0" data-gr-ext-installed="">-->
<!--  <form action="" method="POST">-->
<!--    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>-->
<!--    <div class="form-floating">-->
<!--      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">-->
<!--      <label for="floatingInput">Email address</label>-->
<!--    </div>-->
<!--    <div class="form-floating">-->
<!--      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">-->
<!--      <label for="floatingPassword">Password</label>-->
<!--    </div>-->
<!--    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>-->
<!--    <p class="mt-5 mb-3 text-muted">©2021</p>-->
<!--  </form>-->
<!--</div>-->


<div class="login-page">
    <div class="form">
        <!--    <form class="register-form" action="" method="POST">-->
        <!--      <input type="text" placeholder="name"/>-->
        <!--      <input type="password" placeholder="password"/>-->
        <!--      <input type="text" placeholder="email address"/>-->
        <!--      <button>create</button>-->
        <!--      <p class="message">Already registered? <a href="#">Sign In</a></p>-->


        <!--    </form>-->
        <form class="login-form" action="" method="POST">
            {{form.hidden_tag()}}
            {{form.username(class="input-field")}}
            <!--      <input type="text" placeholder="username"/>-->
            {{form.password(class="input-field" )}}
            <!--      <input type="password" placeholder="password"/>-->
            <!--      <button type="submit">login</button>-->
            {{form.submit(class="button-submit")}}

            <p class="message">Not registered? <a href="{{url_for('register')}}">Create an account</a></p>
        </form>
    </div>
</div>


<!--<h1>Login to your account</h1>-->

<!--<form action="" method="POST">-->
<!--    {{form.hidden_tag()}}-->
<!--    {{form.username}}-->
<!--    {{form.password}}-->
<!--    {{form.submit}}-->
<!--</form>-->
<!--<a href="{{url_for('register')}}">Create an account</a>-->

{% endblock %}