{% extends 'base.html' %}

{% block title %}
Registration
{% endblock %}


{% block body %}

<div class="login-page">
    <div class="form">

        <form class="login-form" action="" method="POST">
            {{form.hidden_tag()}}
            {{form.username(class="input-field")}}
            {{form.password(class="input-field" )}}
            {{form.submit(class="button-submit")}}
            <p class="message">Already registered?<a href="{{url_for('login')}}">Sign In</a></p>
        </form>
    </div>
</div>


{% endblock %}